:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-bg-color: #ffffff;
}
.body {
  font-family: 'open sans', sans-serif;
  background-color: var(--primery-white-color);
  color: var(--primery-text-color);
}
/* site-nav */

.logo {
  font-family: 'Raleway', sans-serif;
  color: #000000;
}
.logo .logo:hover {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.auth-nav .link {
  color: var(--title-text-color);
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

/* section */
.section-title {
  color: var(--title-text-color);
}

/* features */

.features .title {
  color: var(--title-text-color);
}
/* button */
.button {
  color: var(--primery-bg-color);
  background-color: var(--accent-color);
}
