:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-bg-color: #ffffff;
}
.body {
  background-color: var(--primery-white-color);
  color: var(--primery-text-color);

  font-family: 'open sans', sans-serif;
  letter-spacing: 0.03em;
}

/* site-nav */

.logo {
  color: #000000;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo-web {
  color: var(--accent-color);
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.site-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

.contacts-nav .link {
  color: var(--primery-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-color);
}
.hyro {
  background-color: #2f303a;
}
.hyro-title {
  color: var(--primery-bg-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* section */
.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* features */
.features-list .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.features-list .text {
  font-size: 14px;
  line-height: 1.71;
}
/* button */
.button {
  color: var(--primery-bg-color);
  cursor: pointer;

  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

/* team */
.team-list .title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2px;
}

.team-list .text {
  color: var(--primery-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}
/* footer */
.footer {
  background-color: #2f303a;
}

.address .text,
.address .link {
  color: var(--primery-bg-color);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.address .text:hover,
.address .text:hover {
  color: var(--accent-color);
}
.address .link:hover,
.address .link:hover {
  color: var(--accent-color);
}

.address .link {
  color: rgba(255, 255, 255, 0.6);

  font-style: normal;
}

/* portfolio */

.filters-button {
  color: var(--title-text-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.filters-button:hover,
.filters-button:focus {
  color: var(--accent-color);
}

.project .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project .text {
  font-size: 16px;
  line-height: 0.88;
}
